#app {
    text-align: center;
}

.rows {
    display: flex;
    justify-content: center;
}

.app__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 80px;
    width: 80px;
    text-align: center;
}

.app__value {
    font-size: 30px;
}
